/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */
body {
	margin: 0;
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
	html {
		height: 100%;
	}
	body {
		height: 100%;
		margin: 0;
		background-size: cover;
		padding: 0;
		display: flex !important;
		overflow: hidden;
		justify-content: center;
		overflow-y: auto;
	}

	#root {
		height: 100%;
		width: 100vw;
		top: 0;
		left: 0;
		display: flex;
		background-image: url("https://static.vecteezy.com/system/resources/previews/001/255/623/non_2x/colorful-terrazzo-seamless-texture-vector.jpg");
		background-size: 60vh;
		height: 100vh;
		margin: 0px;
		padding: 0px;
		display: flex;
		overflow: hidden;
		justify-content: space-between;
		background-position: bottom;
		background-repeat: repeat;
	}
}
@media screen and (min-width: 481px) and (max-width: 768px) and (orientation: portrait) {
	html {
		height: 100%;
	}
	body {
		height: 100%;
		margin: 0;
		background-size: cover;
		padding: 0;
		display: flex !important;
		overflow: hidden;
		justify-content: center;
		overflow-y: auto;
	}

	#root {
		height: 100%;
		width: 100vw;
		top: 0;
		left: 0;
		display: flex;
		background-image: url("https://static.vecteezy.com/system/resources/previews/001/255/623/non_2x/colorful-terrazzo-seamless-texture-vector.jpg");
		background-size: 60vh;
		height: 100vh;
		margin: 0px;
		padding: 0px;
		display: flex;
		overflow: hidden;
		justify-content: space-between;
		background-position: bottom;
		background-repeat: repeat;
	}
}
@media screen and (min-width: 481px) and (max-width: 768px) and (orientation: landscape) {
	html {
		height: 100%;
	}
	body {
		height: 100%;
		margin: 0;
		background-size: cover;
		padding: 0;
		display: flex !important;
		overflow: hidden;
		justify-content: center;
		overflow-y: auto;
	}

	#root {
		height: 100%;
		width: 100vw;
		top: 0;
		left: 0;
		display: flex;
		background-image: url("https://static.vecteezy.com/system/resources/previews/001/255/623/non_2x/colorful-terrazzo-seamless-texture-vector.jpg");
		background-size: 60vh;
		height: 100vh;
		margin: 0px;
		padding: 0px;
		display: flex;
		overflow: hidden;
		justify-content: space-between;
		background-position: bottom;
		background-repeat: repeat;
	}
}
@media screen and (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {
	html {
		height: 100%;
	}
	body {
		height: 100%;
		margin: 0;
		background-size: cover;
		padding: 0;
		display: flex !important;
		overflow: hidden;
		justify-content: center;
		overflow-y: auto;
	}

	#root {
		height: 100%;
		width: 100vw;
		top: 0;
		left: 0;
		display: flex;
		background-image: url("https://static.vecteezy.com/system/resources/previews/001/255/623/non_2x/colorful-terrazzo-seamless-texture-vector.jpg");
		background-size: 35vh;
		height: 100vh;
		margin: 0px;
		padding: 0px;
		display: flex;
		overflow: hidden;
		justify-content: space-between;
		background-position: bottom;
		background-repeat: repeat;
	}
}
@media screen and (min-width: 1025px) and (max-width: 1200px) and (orientation: portrait) {
	html {
		height: 100%;
	}
	body {
		height: 100%;
		margin: 0;
		background-size: cover;
		padding: 0;
		display: flex !important;
		overflow: hidden;
		justify-content: center;
		overflow-y: auto;
	}

	#root {
		height: 100%;
		width: 100vw;
		top: 0;
		left: 0;
		display: flex;
		background-image: url("https://static.vecteezy.com/system/resources/previews/001/255/623/non_2x/colorful-terrazzo-seamless-texture-vector.jpg");
		background-size: 35vh;
		height: 100vh;
		margin: 0px;
		padding: 0px;
		display: flex;
		overflow: hidden;
		justify-content: space-between;
		background-position: bottom;
		background-repeat: repeat;
	}
}
@media screen and (min-width: 1201px) {
	html {
		height: 100%;
	}
	body {
		height: 100%;
		margin: 0;
		background-size: cover;
		padding: 0;
		display: flex !important;
		overflow: hidden;
		justify-content: center;
		overflow-y: auto;
	}

	#root {
		height: 100%;
		width: 100vw;
		top: 0;
		left: 0;
		display: flex;
		background-image: url("https://static.vecteezy.com/system/resources/previews/001/255/623/non_2x/colorful-terrazzo-seamless-texture-vector.jpg");
		background-size: 35vh;
		height: 100vh;
		margin: 0px;
		padding: 0px;
		display: flex;
		overflow: hidden;
		justify-content: space-between;
		background-position: bottom;
		background-repeat: repeat;
	}
}

/* html {
	height: 100%;
}
body {
	height: 100%;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;

	background-size: cover;
	padding: 0;
	display: flex !important;
	overflow: hidden;
	justify-content: center;
	overflow-y: auto;
}

#root {
	height: 100%;
	width: 100vw;
	top: 0;
	left: 0;
	display: flex;
	background-image: url("https://static.vecteezy.com/system/resources/previews/001/255/623/non_2x/colorful-terrazzo-seamless-texture-vector.jpg");
	background-size: 20vh;
	height: 100vh;
	margin: 0px;
	padding: 0px;
	display: flex;
	overflow: hidden;
	justify-content: space-between;
	background-position: bottom;
	background-repeat: repeat;
} */
